@import "../../global.scss";
li {
  font-size: 14px;
  margin-right: 50px;
  padding: 0.7em;
  border-radius: 10px;
  cursor: pointer;

  @include mobile {
    // margin-right: 10px 0;
    // flex-wrap: wrap;
    // justify-content: center;
  }
  &.active {
    background-color: $mainColor;
    color: white;
  }
}
